/* You can add global styles to this file, and also import other style files */

// @import "assets/fonts/scss/font-awesome.scss";

@import "~tether/dist/css/tether.min.css";
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";

@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700');
// font-family: 'Playfair Display', serif;

$xs: 0; // less than 34em
$sm: 576px; // 34em and up
$md: 768px; // 48em and up
$lg: 992px; // 62em and up
$xl: 1200px; // 75em and up

ul{
  list-style-type:none;
}
#page{

}
#logo {
  font-family: 'Playfair Display', serif;
  font-size:30pt;
  padding-right:20px;
  padding-left:45px;
  //
  @media(max-width:$md){
    font-size:22pt;
    padding:0;
  }
}
#shop-btn{
  //background-color: red;
  font-family:Arial;
  font-size: 16pt;
  font-weight: bold;
  height:30px;
  white-space: nowrap;
  @media(max-width:$md){
    //max-width:60px;
    margin-top: -40px;
    height:40px;
  }
}

.visible-sm{
  display:inline;
  @media(max-width:$md){
    display:none;
  }
}

.article-img {
  margin-bottom:10px;
  @media(max-width:$md) {
    padding:5px;
    border-radius: 5px;
    border: 1px solid #eee;
    max-width:50%;
    float:left;
  }
}
.article-title {
  font-weight: bold;
  white-space: nowrap;
  @media(max-width:$md) {
    font-size:13pt;
    position:relative;
    top:94px;
    left:10px;
  }
}
.article-price {
  float:right;
  margin-top:-25px;
  @media(max-width:$md) {
    position:relative;
    top:118px;
    font-size:11pt;
    left:-50px;
    float:none;
  }
}
.article-col {
  margin-top: 30px;
  margin-left: 15px;
  margin-right:15px;
  //background-color: #eee;
  padding:0;
  max-width:256px;
  @media(max-width:$md){
    max-width:100%;
  }
}

.filter-col{
  margin-top:30px;
  padding-top:25px;
  border-radius: 5px;
  border: 1px solid #eee;
  max-height: 360px;
  @media(max-width:$md){
    margin-top:0;
    padding-top:15px;
  }
}
.filter-title {
  margin-bottom: 5px;
  font-size:12pt;
  font-weight: bold;
}

.navbar {
  width:100%;
  background: #eee !important;

  // mobile devices only
  @media(max-width:$md) {
    background: #ececec !important;
  }

  .navbar-toggler {
    cursor:pointer;
    outline:0;
    //height:3rem !important;
  }

  .nav-link {
    text-transform:uppercase;
    font-weight: bold;
  }

  .nav-item {
    padding-left:20px;

    @media(max-width:$md) {
      padding:0;
    }
    .nav-link {
      @media(max-width: $md){
        //font-weight: normal;
        //color:#333 !important;
      }
    }
  }
}
